body {
  background-color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

.box-container {
  /* margin: 0; */
  position: relative;
  padding: 0;


}

.task-manager-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;
}

.task-manager-box .input-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
}


.task-manager-box h2 {
  margin-bottom: 40px;
}

.task-manager-box .input-box label,
input {
  /* font-size: 18px; */
  font-size: 14px;
}

.task-manager-box .input-box label {
  font-weight: bold;
  color: rgb(54, 54, 54);
}

.task-manager-box .input-box input[type="text"] {
  outline: none;
  border: 1px solid dimgray;
  border-radius: 8px;
  padding: 7px 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.input-box .btn-add-cancel {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.input-box #btn-add,
#btn-cancel {
  display: block;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  background-color: #4f4ffc;
  color: white;
  font-size: 12px;
}

.input-box #btn-cancel {
  display: none;
  background-color: #5C636A;
}

.data-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}

.data-box #data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px 15px;
  border-radius: 8px;
  box-shadow: 2px 1px 3px 0.2px rgba(105, 105, 105, 0.647);
  font-size: 14px;
}

.data-box #data .box-task {
  display: flex;
  flex-direction: column;
  color: rgb(54, 54, 54);
}

.data-box #data .box-btn {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: end;
  align-items: center;
}

.data-box #data .box-btn button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}

.data-box #data .box-btn .btn-edit {
  background-color: orange;
  color: white;
}


.data-box #data .box-btn .btn-delete {
  color: white;
  background-color: crimson;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.9;
}



.frm-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  flex-direction: column;
  width: 370px;
  height: 170px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  row-gap: 20px;
  padding: 10px;
  background-color: #fafafa;
  box-shadow: 0px 0px 10px 1px rgba(105, 105, 105, 0.2);
}

.frm-popup::before {
  position: absolute;
  top: 60px;
  content: "";
  width: 95%;
  height: 1px;
  background-color: #939393;
}


.frm-popup .btn-yes-no {
  display: flex;
  column-gap: 10px;
}

.frm-popup .btn-yes-no input[type="button"] {
  font-size: 14px;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: darkgray;
  color: white;
}

.frm-popup .btn-yes-no input[type="button"]:hover {
  opacity: 0.8;
}


.frm-popup .btn-yes-no input[type="button"]:active {
  opacity: 0.9;
}



.frm-popup .btn-yes-no #btn-yes-del {
  background-color: crimson;
}




/* Extra small devices (phones) */
@media (max-width: 575px) {}



/* Small devices (portrait tablets) */
@media (min-width: 576px) {

  .task-manager-box .input-box label,
  input,
  .data-box #data {
    font-size: 16px;
  }


  .data-box #data .box-task h6 {
    font-size: 17px;
  }

  .input-box .btn-add-cancel {
    justify-content: start;
  }

}


/* Medium devices (landscape tablets) */
@media (min-width: 768px) {}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .task-manager-box {
    padding: 40px 80px;
  }

  .task-manager-box .input-box label,
  input {
    font-size: 18px;
  }

  .data-box #data .box-task {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .data-box #data .box-task h6 {
    font-size: 18px;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .task-manager-box {
    padding: 40px 160px;
  }
}